.FormationDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.team-info h2 {
  text-align: center;
  font-size: 2rem;
}

.field {
  margin-top: 1rem;
  min-width: 500px;
  height: 400px;
}

.field-container {
  position: relative;
}

.jersey-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
}
.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: darkred;
  font-weight: bold;
}

.player-name {
  position: absolute;
  top: calc(50% + 15px);
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  color: black;
  font-weight: bold;
}

/* POSITION FORMATION */

/* Styles for 4-2-3-1 formation */

.formation-4-2-3-1 .position-1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.formation-4-2-3-1 .position-2 {
  position: absolute;
  top: 85%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.formation-4-2-3-1 .position-3 {
  position: absolute;
  top: 65%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.formation-4-2-3-1 .position-4 {
  position: absolute;
  top: 35%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.formation-4-2-3-1 .position-5 {
  position: absolute;
  top: 15%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.formation-4-2-3-1 .position-6 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formation-4-2-3-1 .position-7 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formation-4-2-3-1 .position-8 {
  position: absolute;
  top: 80%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.formation-4-2-3-1 .position-9 {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
}
.formation-4-2-3-1 .position-10 {
  position: absolute;
  top: 20%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.formation-4-2-3-1 .position-11 {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}

/* Styles for 3-4-2-1 formation */

.formation-3-4-2-1 .position-1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.formation-3-4-2-1 .position-2 {
  position: absolute;
  top: 75%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.formation-3-4-2-1 .position-3 {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.formation-3-4-2-1 .position-4 {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.formation-3-4-2-1 .position-5 {
  position: absolute;
  top: 85%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.formation-3-4-2-1 .position-6 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formation-3-4-2-1 .position-7 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formation-3-4-2-1 .position-8 {
  position: absolute;
  top: 15%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.formation-3-4-2-1 .position-9 {
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.formation-3-4-2-1 .position-10 {
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.formation-3-4-2-1 .position-11 {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}

/* Styles for 4-3-3 formation */

.formation-4-3-3 .position-1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.formation-4-3-3 .position-2 {
  position: absolute;
  top: 85%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.formation-4-3-3 .position-3 {
  position: absolute;
  top: 65%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.formation-4-3-3 .position-4 {
  position: absolute;
  top: 35%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.formation-4-3-3 .position-5 {
  position: absolute;
  top: 15%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.formation-4-3-3 .position-6 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formation-4-3-3 .position-7 {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.formation-4-3-3 .position-8 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formation-4-3-3 .position-9 {
  position: absolute;
  top: 30%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.formation-4-3-3 .position-10 {
  position: absolute;
  top: 70%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.formation-4-3-3 .position-11 {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}

/* Styles for 4-4-2 formation */

.formation-4-4-2 .position-1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.formation-4-4-2 .position-2 {
  position: absolute;
  top: 85%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.formation-4-4-2 .position-3 {
  position: absolute;
  top: 65%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.formation-4-4-2 .position-4 {
  position: absolute;
  top: 35%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.formation-4-4-2 .position-5 {
  position: absolute;
  top: 15%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.formation-4-4-2 .position-6 {
  position: absolute;
  top: 85%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.formation-4-4-2 .position-7 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formation-4-4-2 .position-8 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formation-4-4-2 .position-9 {
  position: absolute;
  top: 15%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.formation-4-4-2 .position-10 {
  position: absolute;
  top: 70%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.formation-4-4-2 .position-11 {
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
}

/* Styles for 3-4-1-2 formation */

.formation-3-4-1-2 .position-1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.formation-3-4-1-2 .position-2 {
  position: absolute;
  top: 75%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.formation-3-4-1-2 .position-3 {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.formation-3-4-1-2 .position-4 {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.formation-3-4-1-2 .position-5 {
  position: absolute;
  top: 85%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.formation-3-4-1-2 .position-6 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formation-3-4-1-2 .position-7 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formation-3-4-1-2 .position-8 {
  position: absolute;
  top: 15%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.formation-3-4-1-2 .position-9 {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.formation-3-4-1-2 .position-10 {
  position: absolute;
  top: 70%;
  left: 85%;
  transform: translate(-50%, -50%);
}
.formation-3-4-1-2 .position-11 {
  position: absolute;
  top: 30%;
  left: 85%;
  transform: translate(-50%, -50%);
}

/* Styles for 3-5-2 formation */

.formation-3-5-2 .position-1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.formation-3-5-2 .position-2 {
  position: absolute;
  top: 75%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.formation-3-5-2 .position-3 {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.formation-3-5-2 .position-4 {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.formation-3-5-2 .position-5 {
  position: absolute;
  top: 90%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.formation-3-5-2 .position-6 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formation-3-5-2 .position-7 {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.formation-3-5-2 .position-8 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.formation-3-5-2 .position-9 {
  position: absolute;
  top: 10%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.formation-3-5-2 .position-10 {
  position: absolute;
  top: 70%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.formation-3-5-2 .position-11 {
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
}
