@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-weight: 600;
  background-color: #003ce8;
  font-family: "Rubik", sans-serif;
}

/* Media Queries */

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
}
